[submodule "OpenHarmony.Net"]
	path = OpenHarmony.Net
	url = https://github.com/CeSun/OpenHarmony.Net.git
[submodule "PublishAotCross"]
	path = PublishAotCross
	url = https://github.com/CeSun/PublishAotCross.git
[submodule "OpenHarmonyRuntime.Net"]
	path = OpenHarmonyRuntime.Net
	url = https://github.com/CeSun/OpenHarmonyRuntime.Net.git
