[submodule "ThirdParty/PublishAotCross"]
	path = ThirdParty/PublishAotCross
	url = https://github.com/OpenHarmony-NET/PublishAotCross
[submodule "ThirdParty/OpenHarmony.NET.Runtime"]
	path = ThirdParty/OpenHarmony.NET.Runtime
	url = https://github.com/OpenHarmony-NET/OpenHarmony.NET.Runtime
[submodule "ThirdParty/OpenHarmony.NDK.Bindings"]
	path = ThirdParty/OpenHarmony.NDK.Bindings
	url = https://github.com/OpenHarmony-NET/OpenHarmony.NDK.Bindings
[submodule "ThirdParty/Ursa.Avalonia"]
	path = ThirdParty/Ursa.Avalonia
	url = https://github.com/WCKYWCKF/Ursa.Avalonia/tree/oh
[submodule "ThirdParty/Semi.Avalonia"]
	path = ThirdParty/Semi.Avalonia
	url = https://github.com/WCKYWCKF/Semi.Avalonia/tree/oh
